<div class="modal fade" id="wallet-form" tabindex="-1" aria-labelledby="wallet-form-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="wallet-form-title">Add a Wallet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/wallet/add" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="nameInput" class="form-label">Name</label>
                        <input name="name" type="text" class="form-control" id="nameInput" placeholder="My wallet"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="addressInput" class="form-label">Address</label>
                        <input name="address" type="text" class="form-control" id="addressInput"
                            placeholder="0xe45d8..." required>
                    </div>
                    <div class="mb-3">
                        <label for="privateKeyInput" class="form-label">Private Key</label>
                        <input name="privateKey" type="text" class="form-control" id="privateKeyInput"
                            placeholder="0x2Ab36..." required>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>